@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
:root {
  --color: #027bd2;
  --color: #027bd2;
  --color: #00d0bd;
  /* --color: #00d08c; */
}

::selection {
  background-color: var(--color);
  color: white;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #242424;
  color: white;
}

.wrapper {
  padding: 0.5rem;
  width: 80%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  margin-top: 2rem;
  width: 80%;
}

i {
  color: var(--color);
}
select {
  padding: 0.4rem;
  border: none;
  background-color: var(--color);
  color: white;
  font-weight: 600;
  border-radius: 0.3rem;
  width: 100%;
  height: 45px;
  font-family: inherit;
}

#submit {
  margin-top: 0.3rem;
  width: 100%;
  padding: 0.5rem;
  background-color: var(--color);
  color: white;
  font-weight: 600;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
}
#submit:hover {
  background-color: #00b9aa;
}
.all {
  margin: 1rem 0;
}
.all #cont {
  margin: 0.5rem 0;
  background-color: #3c3c3c;
  color: white;
}

p {
  padding: 0.6rem;
  transition: 0.4s;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  background-color: var(--color);
  color: white;
  padding: 0.6rem;
  /* border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem; */
}

.context {
  position: fixed;
  background-color: #3e3e3e;
  color: #fff;
  margin: 0.5rem;
  border-radius: 0.3rem;
  /* padding: .1rem 0; */
  transform: scale(0);
  z-index: 20;
  transform-origin: top left;
}
.context.active {
  transform: scale(1);
  transition: 0.5s ease-in-out;
}

.context ul li {
  padding: 0.5rem 0;
  cursor: pointer;
  transition: 0.1s;
  padding: 0.6rem;
  border-radius: 0.3rem;
  font-weight: 400;
}
.context ul li:hover {
  background-color: var(--color);
}
.context ul li:hover i {
  color: #fff;
}
.context i {
  color: #fff;
  margin-right: 0.2rem;
  font-size: 1.2rem;
  width: 30px;
}

@media (max-width: 992px) {
  .wrapper {
    width: 100%;
    padding: 1rem;
  }
  .content {
    width: 100%;
  }
  h1 {
    font-size: 1.6rem;
  }
  .spin{
    left: 44% !important;
  }
}

.spin {
  justify-content: center;
  align-items: center;
  position: absolute;
  border: 10px solid #00b9aa;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border-left: 10px solid #00b9aa;
  border-bottom: 10px solid transparent;
  animation: spin .8s infinite;
  display: none;
}
.spin.active{
  display: flex;
}


@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
